<h2>Nueva Playlist</h2>

<div>
  <label>Nombre: </label>
  <input [(ngModel)]="playlist.name" placeholder="Nombre" />
</div>

<div>
  <label>Descripción: </label>
  <input [(ngModel)]="playlist.description" placeholder="Descripción" />
</div>

<hr />
<h3>Agregar Canciones</h3>
<div>
  <label>Título: </label>
  <input [(ngModel)]="newSong.titulo" placeholder="Título" />
</div>
<div>
  <label>Artista: </label>
  <input [(ngModel)]="newSong.artista" placeholder="Artista" />
</div>
<div>
  <label>Álbum: </label>
  <input [(ngModel)]="newSong.album" placeholder="Álbum" />
</div>
<div>
  <label>Año: </label>
  <input [(ngModel)]="newSong.anno" placeholder="Año" />
</div>
<div>
  <label>Género: </label>
  <input [(ngModel)]="newSong.genero" placeholder="Género" />
</div>

<button (click)="addSong()">Agregar canción</button>

<ul>
  <li *ngFor="let s of playlist.songs">
    {{ s.titulo }} - {{ s.artista }}
  </li>
</ul>

<button (click)="savePlaylist()">Guardar Playlist</button>
